# Data
data/
*.csv

# PDFs / Docs
CISC4631SyllabusSpring26.pdf
CS4631FinalProject.pdf
FinalCheckList.pdf
Report.pdf

# Python
.venv/
__pycache__/
*.pyc
uv.lock
.python-version

# Jupyter
.ipynb_checkpoints/
